<link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VillageRentals</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageequipment">
                <i class="fa-solid fa-wrench" style="margin-right:0.8em"></i> Manage Equipment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="managecustomer">
                <i class="fa-regular fa-user" style="margin-right:0.8em"></i> Manage Customer Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="managerental">
                <i class="fa-solid fa-wallet" style="margin-right:0.8em"></i> Manage Rentals
            </NavLink>
        </div>
    </nav>
</div>
