body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    text-align: left;
    font-weight: bold;
}

.input-group {
    flex: 1 1 calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
}

textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 38px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

label {
    margin-bottom: 5px;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 38px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.add-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}

    .add-section .btn {
        width: 200px;
        margin-top: 28px;
    }

.delete-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}
    
    .delete-section .input-group {
        width: calc(33.33% - 20px);
        margin: 0;
    }

    .delete-section .btn {
        width: 200px;
        margin-top: 28px;
    }

.equipment-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

    .equipment-setion .btn {
        width: 200px;
    }

#rental-equipment {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
