@page "/"

<style>
    h2 {
        text-align: left;
        font-weight: bold;
    }
</style>

<h2>Village Rentals</h2>

<p>Welcome to Village Rentals! We offer a wide variety of equipment for rent. Please use the navigation menu to manage equipment.</p>

@code {

}
